
body {
  padding-top: 56px;
}


.container  {
    max-width: 600px !important;


  }

  

  

  
  .nav-item.active .nav-link {
    color: #212121 !important;
  }
  
  .nav-link:hover {
    text-decoration: none;
  }